@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins",
  sans-serif;
  }
  
  .home {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background-color: black;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: blueviolet;
  }
  
  label {
    color: chartreuse;
  }
  
  .container {
    position: relative;
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
    background-color: gray;
    top: 100px;
  
  }
  
  h1 {
    width: 300px;
    text-align: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background: greenyellow;
    color: black;
    border: none;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  
  
  }
  
  .btn {
    outline: none;
  
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }
  
  .lol {
    display: flex;
    justify-content: space-around;
    position: relative;
    flex-wrap: nowrap;
    width: 70px;
  }
  
  .task {
    background: #492e2e;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .task.reminder {
    border-left: 5px solid green;
  
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Form */
  form.add-form {
    background-color: black;
    transition: all linear 2s;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
  }
  
  .form-control {
    margin: 20px 0;
    width: 90%;
  }
  
  .form-control label {
    display: block;
  }
  
  .form-control input {
    width: 98%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
  
  .form-control-check {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .form-control-check label {
    flex: 1;
  }
  
  .form-control-check input {
    flex: 2;
    height: 20px;
  }
  
  footer {
    margin-top: 30px;
    text-align: center;
  }
  
  h3 {
    overflow: hidden;
}

@media screen and (max-width: 960px) {
  form {
    width: 100%;
    height: 100%;
  }

  .container {
    width: 80%;
    height: 80%;
  }
  }